@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>User Identification</h1>
    <p class="lead">The ASP.NET Identity system is designed to replace the previous ASP.NET Membership and Simple Membership systems. 
    It includes profile support, OAuth integration, works with OWIN, and is included with the ASP.NET templates shipped with Visual Studio 2013.</p>
    <p><a href="https://www.asp.net/identity" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The ASP.NET membership system was introduced with ASP.NET 2.0 back in 2005, and since then there have been many changes
             in the ways web applications typically handle authentication and authorization.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/identity/overview/getting-started/introduction-to-aspnet-identity">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>